<div class="large light rounded container">
        <div class="large electricBlue rounded container">
        Lorem ipsum dolor sit amet,
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem tempore, dolorum dolore aspernatur dolores? Autem eligendi harum iure officiis eaque. Exercitationem, est rem. Magnam laboriosam architecto officia voluptatem possimus.
    <div class="large dark rounded container">
        <div class="large light rounded container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem tempore, dolorum dolore aspernatur dolores? Autem eligendi harum iure officiis eaque. 
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    </div>

    <div class="large electricBlue rounded container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem tempore, dolorum dolore aspernatur dolores? Autem eligendi harum iure officiis eaque. Exercitationem, est rem. Magnam laboriosam architecto officia voluptatem possimus.
    </div>
</div>