@keyframes opa {
   0% {
      opacity: 0%;
   }
   100% {
      opacity: 100%;
   }
}

.opacityTrans {
   animation-name: opa;
   animation-duration: 0.75s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
}


@keyframes left {
   0%{left: -100vw;}
   100% {left: -5px}
}

@keyframes right {
   0%{right: -100vw;}
   100% {right: -5px}
}

.leftTrans {
   animation-name: left;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.rightTrans {
   animation-name: right;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

@keyframes emojiEnter {
   0%{
      transform:translate(-100vw,30vw);
      -webkit-transform:translate(-100vw,30vw);
      -moz-transform:translate(-100vw,30vw);
      -ms-transform:translate(-100vw,30vw);
      -o-transform:translate(-100vw,30vw);
}
   100% {
      transform:translate(30vw,30vw);
      -webkit-transform:translate(30vw,30vw);
      -moz-transform:translate(30vw,30vw);
      -ms-transform:translate(30vw,30vw);
      -o-transform:translate(30vw,30vw);
}
}

@keyframes emojiGoOut{
   0%{
      transform:translate(30vw,30vw) ;
      -webkit-transform:translate(30vw,30vw) ;
      -moz-transform:translate(30vw,30vw) ;
      -ms-transform:translate(30vw,30vw) ;
      -o-transform:translate(30vw,30vw) ;
} 
   100%{
      transform:translate(-100vw,30vw);
      -webkit-transform:translate(-100vw,30vw);
      -moz-transform:translate(-100vw,30vw);
      -ms-transform:translate(-100vw,30vw);
      -o-transform:translate(-100vw,30vw);
}
}

@keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg) ; -webkit-transform: translate(1px, 1px) rotate(0deg) ; -moz-transform: translate(1px, 1px) rotate(0deg) ; -ms-transform: translate(1px, 1px) rotate(0deg) ; -o-transform: translate(1px, 1px) rotate(0deg) ; }
   10% { transform: translate(-1px, -2px) rotate(-1deg); -webkit-transform: translate(-1px, -2px) rotate(-1deg); -moz-transform: translate(-1px, -2px) rotate(-1deg); -ms-transform: translate(-1px, -2px) rotate(-1deg); -o-transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); -webkit-transform: translate(-3px, 0px) rotate(1deg); -moz-transform: translate(-3px, 0px) rotate(1deg); -ms-transform: translate(-3px, 0px) rotate(1deg); -o-transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); -webkit-transform: translate(3px, 2px) rotate(0deg); -moz-transform: translate(3px, 2px) rotate(0deg); -ms-transform: translate(3px, 2px) rotate(0deg); -o-transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); -webkit-transform: translate(1px, -1px) rotate(1deg); -moz-transform: translate(1px, -1px) rotate(1deg); -ms-transform: translate(1px, -1px) rotate(1deg); -o-transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); -webkit-transform: translate(-1px, 2px) rotate(-1deg); -moz-transform: translate(-1px, 2px) rotate(-1deg); -ms-transform: translate(-1px, 2px) rotate(-1deg); -o-transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); -ms-transform: translate(-3px, 1px) rotate(0deg); -o-transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); -ms-transform: translate(3px, 1px) rotate(-1deg); -o-transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); -ms-transform: translate(-1px, -1px) rotate(1deg); -o-transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg)scale(1.1); -ms-transform: translate(1px, 2px) rotate(0deg)scale(1.1); -o-transform: translate(1px, 2px) rotate(0deg)scale(1.1); }
   100% { transform: translate(1px, -2px) rotate(-1deg) ; -webkit-transform: translate(1px, -2px) rotate(-1deg)  ; -moz-transform: translate(1px, -2px) rotate(-1deg)  scale(1.5); -ms-transform: translate(1px, -2px) rotate(-1deg)  scale(1.5); -o-transform: translate(1px, -2px) rotate(-1deg)  scale(1.5); }
 }
 

.emojiEnter {
   animation-name: emojiEnter;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

.emojiGoOut {
   animation-name: emojiGoOut;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}


.shake {
   animation: shake 1.2s;
   /*Whentheanimationisfinished,startagain*/animation-iteration-count: infinite;
}

.redBorders {
   box-shadow: inset 0 0 50px #ff2200;

}