@keyframes opa {
   0% {
      opacity: 0%;
   }
   100% {
      opacity: 100%;
   }
}

.opacityTrans {
   animation-name: opa;
   animation-duration: 0.75s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
}


@keyframes left {
   0%{left: -100vw;}
   100% {left: -5px}
}

@keyframes right {
   0%{right: -100vw;}
   100% {right: -5px}
}

.leftTrans {
   animation-name: left;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.rightTrans {
   animation-name: right;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

@keyframes emojiEnter {
   0%{
      transform:translate(-100vw,30vw);
      -webkit-transform:translate(-100vw,30vw);
      -moz-transform:translate(-100vw,30vw);
      -ms-transform:translate(-100vw,30vw);
      -o-transform:translate(-100vw,30vw);
}
   100% {
      transform:translate(30vw,30vw);
      -webkit-transform:translate(30vw,30vw);
      -moz-transform:translate(30vw,30vw);
      -ms-transform:translate(30vw,30vw);
      -o-transform:translate(30vw,30vw);
}
}

@keyframes emojiGoOut{
   0%{
      transform:translate(30vw,30vw) ;
      -webkit-transform:translate(30vw,30vw) ;
      -moz-transform:translate(30vw,30vw) ;
      -ms-transform:translate(30vw,30vw) ;
      -o-transform:translate(30vw,30vw) ;
} 
   100%{
      transform:translate(-100vw,30vw);
      -webkit-transform:translate(-100vw,30vw);
      -moz-transform:translate(-100vw,30vw);
      -ms-transform:translate(-100vw,30vw);
      -o-transform:translate(-100vw,30vw);
}
}

.emojiEnter {
   animation-name: emojiEnter;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

.emojiGoOut {
   animation-name: emojiGoOut;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}