.container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   height: fit-content;
   padding: 15px;
   margin: 15px 0px;
   width: 100%;
}

.scrollable {
   flex-wrap: nowrap;
   height: 25vh;
   margin: 15px 0px;
   overflow-y: scroll;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: fit-content;
   margin: 15px 0px;
   width: 100%;
   gap: 10px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   padding: 15px;
   width: 100%;
}

.card > p {
   padding: 2px 0px;
}

.title {
   font-size: clamp(18px, 5vw, 25px);
   display: flex;
   width: 100%;
   font-weight: bolder;
   padding-left: 5px;
   font-size: 20px;
}

.light {
   background-color: rgba(217, 217, 217, 0.9);
   color: #2d2a32;
}

.dark {
   background-color: rgba(45, 42, 50, 0.9);
   color: #d9d9d9;
}

.electricBlue {
   background-color: rgba(69, 197, 215, 0.9);
   color: #2d2a32;
}

.rounded {
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

.blob {
   z-index: -100;
   position: fixed;
}

.wall {
   width: 55vw;
   left: -5px;
   bottom: -1px;
}

.floor {
   height: 55vh;
   right: -5px;
   top: -1px;
}

.center {
   display: flex;
   width: 100%;
   justify-content: center;
   padding: 10px;
}

.btn {
   font-size: clamp(18px, 4vw, 23px);
   padding: 10px 15px;
   width: fit-content;
   background: rgb(217, 217, 217);
   background: linear-gradient(
      125deg,
      rgba(217, 217, 217, 1) 0%,
      rgba(69, 197, 215, 1) 100%
   );
   color: #2d2a32;
   box-shadow: 3px 3px 5px rgba(45, 42, 50, 0.2);
   transition: transform 0.15s ease, color 0.15s ease,
      background-color 0.15s ease;
   -webkit-transition: transform 0.15s ease, color 0.15s ease,
      background-color 0.15s ease;
   -moz-transition: transform 0.15s ease, color 0.15s ease,
      background-color 0.15s ease;
   -ms-transition: transform 0.15s ease, color 0.15s ease,
      background-color 0.15s ease;
   -o-transition: transform 0.15s ease, color 0.15s ease,
      background-color 0.15s ease;
}

.btn:active {
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   background: #2d2a32;
   color: #d9d9d9;
}

.bar {
   padding: 8px;
   margin: 5px;
   width: 100%;
   height: 30px;
   background-color: #d9d9d9;
}

.barLabel {
   padding-left: 10px;
}
.progress {
   width: 0%;
   height: 100%;
   background-color: #45c5d7;
   transition: width 1s ease;
   -webkit-transition: width 1s ease;
   -moz-transition: width 1s ease;
   -ms-transition: width 1s ease;
   -o-transition: width 1s ease;
}
