@media only screen and (min-width: 800px) {
   body {
      position: relative;
      flex-direction:row-reverse;
      align-items: normal;
      overflow: hidden;
      max-height: 100dvh;
   }

   nav {
      position: relative;
      flex-direction: column;
      align-items: center;
      height: 100dvh;
      padding-bottom: 70dvh;
      width: 7vw;
      left: -1px;
      bottom: 0px;
      max-width: 75px;
   }

   #content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   .title {
      display: flex;
      justify-content: center;
   }

   .container {
      max-width:900px;
   }

   .gameUi {
      position: absolute;
      padding-top: 20px;
      width: 80%;
      top: 0px;
   }

   #timeDisplayContainer {
      position: absolute;
      top: 90px;
   }

   #scoreDisplay {
      max-width: 25vw;
   }

   #line {
      max-width:900px;
      width: 100%;
   }

   #firstLine {
      width: 90%;
      justify-content: space-between;
   }

   .blob {
      max-width: 500px;

   }

   #valid {
      font-size: 10vw;
   }
   #invalid {
      font-size: 10vw;
   }
   #skipped {
      font-size: 8vw;
   }

   #entryIllustration {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   #mainIllu {
      display: block;
      position:relative;
      padding-right:80px; 
      width:50vw;
      height:500px; 
      margin-bottom:150px;
   }
   
   #mainTitle {
      max-width: 60vw;  
      font-size: 7vw; 
      padding-left: 5vw; 
      margin-bottom:150px;
   }

   #geography {
      font-size: 8vw;
   }

   #playBtn {
      font-size: 3vw;
   }
}
