* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   font-weight: bold;
   font-size: clamp(15px, 4vw, 20px);
   max-width: 100vw;
   overflow-x: hidden;
   text-decoration: none;
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   scrollbar-width: none; /* Firefox */
   user-select: none;
}

img {
   display: block;
}

*::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}

html {
   scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
   width: 100vw;
   min-height:100vh;
   max-width: 100vw;
   max-height: 100vh;
   overflow: hidden;
   background: rgb(185, 229, 235);
   background: linear-gradient(
      125deg,
      rgba(185, 229, 235, 1) 0%,
      rgba(69, 197, 215, 1) 31%,
      rgba(112, 151, 185, 1) 100%
   );
}

i, a {
   overflow: visible;
}

.ui {
   z-index: 100;
}

.userImg {
   margin-right: 8px;
   width: 5vh;
   height: 5vh;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
}

nav {
   position: fixed;
   display: flex;
   height: 9vh;
   width: 100vw;
   bottom: -1px;
   background-color: #2d2a32;
   justify-content: space-evenly;
}
nav > a {
   display: flex;
   align-items: center;
   height: 100%;
}
nav > a > i {
   font-size: clamp(30px, 5vw, 35px);
   color: #d9d9d9;
}

#content {
   width: 90vw;
   padding: 0px 10px;
   padding-top: 10vh;
   padding-bottom: 10vh;
   height: fit-content;
   overflow-y: scroll;
}
