<div id="firstLine" class="container rounded light centered waiting gameUi">
   <div id="points" class="row waiting" style="display: flex; justify-content: space-evenly;">
      <div id="serment">Serment : 0</div>
      <div id="pacte">Pacte : 0</div>
      <div id="voeu">Voeu : 0</div>
   </div>

   <div class="container rounded dark">
      <div class="title dark" style="background: none;">Prochains joueurs : </div>
      <div id="nextRound" class="gallery">

      </div>
   </div>


   <div id="state" style="width: 100%; text-align: center;" class="waiting title">
      Attend ton tour !
   </div>
   <div id="startRound" class=" btn good">
      Lancer le round
   </div>
</div>

<div class="row game gameUi" style="width: 100%; display: flex; justify-content: space-evenly; top: 5vh;">
   <div  id="display" style="text-align: center; font-size: 25px; max-width: 45vw; font-weight: bolder;" class=" title game"></div>
</div>





<div id="scoreBoard" class="container rounded dark scoreBoard">
   <div class="title">Resultat</div>
   <div id="playerList" class="gallery"></div>
   <a id="replay" class="btn good">
      Rejouer
   </a>
</div>



<div id="valid" style="position: absolute;  z-index: 10000;">
   ✅
</div>
<div id="invalid" style="position: absolute;  z-index: 10000;">
   ❌
</div>


<a id="joinLobbyBtn" style="display: none;"></a>
