<div class="container rounded dark">
   <div class="gallery" style="max-height: 80vh;">
      Choisi ton mode de jeux :
      <div class="card rounded light row"
      style="background: url(../../assets/chooseWorld.png);background-size:cover;background-position:center;box-shadow:inset 0px 0px 100px white;">
         <div class="card" style="font-size: 25px;">Pays du monde</div>
         <a class="btn good" id="playWorld">Choisir</a>
      </div>
      <div class="card rounded light row"
      style="background: url(../../assets/chooseUs.png);background-size:cover;background-position:center;box-shadow:inset 0px 0px 100px white;">
         <div class="card" style="font-size: 25px;">Etats des Etats Unis</div>
         <a class="btn good" id="playUs">Choisir</a>
      </div>
      <div class="card rounded light row"
      style="background: url(../../assets/chooseFr.png);background-size:cover;background-position:center;box-shadow:inset 0px 0px 100px white;">
         <div class="card" style="font-size: 25px;">Departements de France</div>
         <a class="btn good" id="playFr">Choisir</a>
      </div>
   </div>
</div>