<div class="container rounded dark">
   <div class="gallery" style="max-height: 80vh;">
      Choisi ton mode de jeux :
      <div class="container rounded light row">
         <div class="card row">
            <div class="row">
               <img style="width: 5vw; min-width: 70px;" src="../assets/classic.png" alt="">
               <div class="card">Classic</div>
            </div>
            <a id="playClassic" class="btn good"> Choisir</a>
         </div>
         <div class="card electricBlue rounded">
            Le mode de jeux classique de Geobro, trouve des pays en un temps limité avec tes amis !
         </div>
      </div>

      <div class="container rounded light row">
         <div class="card row">
            <div class="row">
               <img style="width: 5vw; min-width: 70px;" src="../assets/speedrun.png" alt="">
               <div class="card">Speedrun</div>
            </div>
            <a id="playSpeedrun" class="btn good">Choisir</a>
         </div>
         <div class="card electricBlue rounded">
            Compare ta rapidité en geographie avec tes amis, le premier a finir la liste arrete la partie !
         </div>
      </div>

      <div class="container rounded light row">
         <div class="card row">
            <div class="row">
               <img style="width: 5vw; min-width: 70px;" src="../assets/ranked.png" alt="">
               <div class="card">Competition</div>
            </div>
            <a id="playRanked" class="btn good"> DEV</a>
         </div>
         <div class="card electricBlue rounded">
            Grimpe le classement en trouvant les pays avec leur capitale, leur langue, leur nom ,ou meme leur drapeau !
         </div>
      </div>
   </div>
</div>