<div class="container rounded dark">
   <div class="gallery" style="max-height: 80vh;">
      Choisi ton mode de jeux :
      <div style="
      background-image: url('../assets/chooseMapIllu.png');
      background-position:-150px;
      background-size: 30%;
      background-repeat: no-repeat;
      background-color: #d9d9d9;
      background-blend-mode:color-burn;
      " class="card rounded light row">
         <div class="card" style="font-size: 25px;">Pays du monde</div>
         <a class="btn good" id="playWorld">Choisir</a>
      </div>
      <div style="
      background-image: url('../assets/chooseMapIllu.png');
      background-position:-150px;
      background-size: 30%;
      background-repeat: no-repeat;
      background-color: #d9d9d9;
      background-blend-mode:color-burn;
      " class="card rounded light row">
         <div class="card" style="font-size: 25px;">Etats des Etats Unis</div>
         <a class="btn good" id="playUs">Choisir</a>
      </div>
      <div style="
      background-image: url('../assets/chooseMapIllu.png');
      background-position:-150px;
      background-size: 30%;
      background-repeat: no-repeat;
      background-color: #d9d9d9;
      background-blend-mode:color-burn;
      " class="card rounded light row">
         <div class="card" style="font-size: 25px;">Departements de France</div>
         <a class="btn good" id="playFr">Choisir</a>
      </div>
   </div>
</div>