<div id="firstLine" class="row centered game gameUi">
   <div  id="display" style="font-size: 25px; max-width: 45vw; font-weight: bolder;" class=" title game"></div>
   <div class="card rounded row light game" style="max-width: 45vw; padding: 10px 15px;">
      <p style="font-size: 20px;" id="score">0pt</p> <p id="streak">⚫⚫⚫</p>
   </div>
</div>
<div id="timeDisplayContainer" class="row game card gameUi">
   <div id="timeDisplay" style="position: absolute; right: 0px; font-size: 20px;">xx 🕒</div>
</div>



<div id="scoreBoard" class="container rounded dark scoreBoard">
   <div class="title">Resultat</div>
   <div id="playerList" class="gallery"></div>
   <a id="replay" class="btn good">
      Rejouer
   </a>
</div>
<div class="game" id="skipButton" style="padding: 10px; background-color:#2d2a32; width:fit-content; border-radius: 10px; position: absolute; bottom :13vh; right: 4vw; z-index: 1000;">
   <i style="font-size: 50px; color: #d9d9d9;" class="fa-solid fa-forward"></i>
</div>

<div id="valid" style="position: absolute; font-size: 20vw; z-index: 10000; transform: translate(-100vw,0);">
   ✅
</div>
<div id="invalid" style="position: absolute; font-size: 20vw; z-index: 10000; transform: translate(-100vw,0);">
   ❌
</div>

<div id="skipped" style="position: absolute; font-size: 10vw; z-index: 10000; transform: translate(-100vw,0); font-weight: bolder;">
   PASSE
</div>

<a id="joinLobbyBtn" style="display: none;"></a>
