<div class="row centered rounded game">
   <div class="tag rounded light game"><p id="first" class="playerScore">1. player</p> <p class="playerScore" id="second">2. player</p> <p class="playerScore" id="third">3. player</p></div>
   <div class="tag rounded light game"><p style="font-size: 15px;" id="score">0pt</p> <p id="streak">⚫⚫⚫</p></div>
</div>

<div id="display" class="center title game"></div>
<div id="scoreBoard" class="container rounded dark scoreBoard">
   <div class="title">ScoreBoard</div>
   <div id="playerList" class="gallery"></div>
   <a id="replay" href="/hostLobby" class="btn good">
      Rejouer
   </a>
</div>
<div class="game" id="skipButton" style="padding: 10px; background-color:#2d2a32; width:fit-content; border-radius: 10px; position: absolute; bottom :13vh; right: 4vw; z-index: 1000;">
   <i style="font-size: 50px; color: #d9d9d9;" class="fa-solid fa-forward"></i>
</div>

<div class="game" id="timeDisplay" style="background-color:#ff9efc; color: white; border-top-left-radius: 5px; border-top-right-radius: 5px; transition:width 0.3s ease; padding: 2px; text-align: center; width:100%; position: absolute; bottom :8.9vh; left: 0vw; height: 20px; z-index: 1000;">
   time
</div>

<div id="valid" style="position: absolute; font-size: 20vw; z-index: 10000; transform: translate(-100vw,0);">
   ✅
</div>
<div id="invalid" style="position: absolute; font-size: 20vw; z-index: 10000; transform: translate(-100vw,0);">
   ❌
</div>

<div id="skipped" style="position: absolute; font-size: 10vw; z-index: 10000; transform: translate(-100vw,0); font-weight: bolder;">
   SKIPPED
</div>

<a id="joinLobbyBtn" style="display: none;"></a>
