<div class="title">Tableau de bord</div>

<div class="container rounded light">
   <div class="title">Profile</div>
   <div class="container dark rounded row right">
      <div class="row" id="userInfo">
         <img alt="profile image of user" class="userImg"> <p id="playerName">Test</p>
      </div>
   </div>
   <div class="container dark rounded">
      <div class="barLabel">Niveau <span id="userLevel"></span></div>
      <div class="bar rounded">
         <div id="expBar" class="progress rounded"></div>
      </div>
   </div>
</div>

<div class="container rounded light">
   <div class="title">Nouveautés</div>
   <div style="padding: 5px;" id="newsGallery" class="gallery scrollable rounded">
   </div>
</div>

<div class="container rounded light">
   <class class="title"> 
      <div class="row">
         <img style="width:50px;" src="../assets/speedrun.png" alt="">
         <div class="title">Classement Speedrun</div>
      </div>
   </class>
   <div class="container electricBlue rounded " >
      <div class="gallery rounded" style="max-height: 30vh;" id="performanceGallery">
      </div>
   </div>
</div>

<a href="/parameters" style="position: absolute; top: 3vh; right :3vh;" >
   <i style="font-size: clamp(40px,5vw,50px) ; color: #ffffff; text-shadow: 0px 0px 5px black;" class="fa-solid fa-gear"></i>
</a>

<img alt="background blob image" class="blob left-bottom" src="../assets/dashboardBlob1.png" alt="" />
<img alt="background blob image" class="blob right-top" src="../assets/dashboardBlob2.png" alt="" />
