<div class="title">Dashboard</div>

<div class="container rounded light">
   <div class="title">Profile</div>
   <div class="container dark rounded row right">
      <div class="row" id="userInfo">
         <img class="userImg"> <p id="playerName">Test</p>
      </div>
   </div>
   <div class="container dark rounded">
      <div class="barLabel">Level <span id="userLevel"></span></div>
      <div class="bar rounded">
         <div id="expBar" class="progress rounded"></div>
      </div>
   </div>
</div>

<div class="container rounded light">
   <div class="title">News</div>
   <div id="newsGallery" class="scrollable rounded">
   </div>
</div>



<img class="blob left-bottom" src="../assets/dashboardBlob1.png" alt="" />
<img class="blob right-top" src="../assets/dashboardBlob2.png" alt="" />
