<div class="title">Dashboard</div>

<div class="container rounded light">
   <div class="title">Profile</div>
   <div class="container dark rounded">
      <div class="barLabel">Level <span id="userLevel"></span></div>
      <div class="bar rounded">
         <div id="expBar" class="progress rounded"></div>
      </div>
   </div>
</div>

<div class="container rounded light">
   <div class="title">News</div>
   <div class="scrollable rounded">
      <div class="container rounded electricBlue">
         <p>Event</p>
         <p>X2 XXX</p>
         <p>X time left</p>
      </div>
      <div class="container rounded electricBlue">
         <p>MAJ</p>
         <p>News are xxx, xxx, xxx, xxx, xxx, xxx</p>
      </div>
      <div class="container rounded electricBlue">
         <p>Event</p>
         <p>X2 XXX</p>
         <p>X time left</p>
      </div>
      <div class="container rounded electricBlue">
         <p>Event</p>
         <p>X2 XXX</p>
         <p>X time left</p>
      </div>
   </div>
</div>

<div class="container rounded light">
   <div class="title">Shop</div>
   <div class="gallery">
      <div class="card rounded dark">
         <p>Area: Europe</p>
         <p>Type: Languages</p>
         <p>30$</p>
      </div>

      <div class="card rounded dark">
         <p>Area: Japan</p>
         <p>Type: Region</p>
         <p>30$</p>
      </div>

      <div class="card rounded dark">
         <p>Area: America</p>
         <p>Type: Weather</p>
         <p>30$</p>
      </div>

      <div class="card rounded dark">
         <p>Area: Japan</p>
         <p>Type: Region</p>
         <p>30$</p>
      </div>
   </div>
</div>

<img class="blob wall" src="../assets/blobBot.png" alt="" />
<img class="blob floor" src="../assets/blobTop.png" alt="" />
