<div style="position: absolute; top: 3vh; left: 3vh;">GeoBro</div>

<div id="entryContent">
   <div id="textSection">
      <div>
         <p style="font-family: 'REM', sans-serif; font-size:40px; font-weight: bolder; color: #2d2a32;  ">MODERN, GEOGRAPHY, GAMES</p>
         <p style="font-size:25px; font-weight: 400; ">apprendre le monde en s'amusant !</p>
         <p style="font-weight: 400;">Decouvre une experience <span>ludique</span>, <span>competitive</span> et <span>gamifié</span> de la geographie,
            confronte toi aux autres dans different modes de jeux pour grimper dans les classements ! 
         </p>
         <div id="play" style="padding-top: 30px;" >
            <div id="socialGallery"  style="display: none; flex-direction: column;">
               <div class="row">
                  <div id="google" class="socialBtn tag light rounded">
                     <img class="socialImg" src="../assets/google.png" alt="" srcset="">
                  </div>
                  <div id="twitter" class="socialBtn tag light rounded">
                     <img class="socialImg" src="../assets/twitter.png" alt="" srcset="">
                  </div>
                  
                  <div id="facebook" class="socialBtn tag light rounded">
                     <img class="socialImg" src="../assets/facebook.png" alt="" srcset="">
                  </div>
                  
                  
                  <div id="microsoft" class="socialBtn tag light rounded">
                     <img class="socialImg" src="../assets/microsoft.png" alt="" srcset="">
                  </div>
               </div>
               <div style="color:#d9d9d9; padding-top: 20px;" class="title">
                  Connexion
               </div>
            </div>
            <div id="playBtn">
               Jouer
            </div>
         </div>
      </div>
   </div>
   <img id="entryIllu" src="../assets/3DPhone.png" alt="">   
</div>

<a id="entrance" href="/dashboard"></a>
<img src="../assets/entryBlob1.png" id="entryBlob1" class="blob left-bottom" style="animation: none; max-width: 100vw; width: 100vw; min-width: 1000px;" alt="">
<img src="../assets/entryBlob2.png" class="blob right-top" alt="">