<div class="title">Jouer</div>
<div class="container  light rounded">
   <div class="title">Rejoindre une partie</div>
   <div class="row">
      <input class="rounded" id="lobbyIdInput" maxlength="6" placeholder="ID de la partie" type="text">
      <a aria-label="Join a lobby" id="joinLobbyBtn" class="btn good rounded"><i class="fa-solid fa-right-to-bracket"></i></a>
   </div>
</div>


<div class="container  light rounded">
   <div class="row">
      <div class="title">Créer une partie</div>
      <a aria-label="Create a lobby" class="btn good rounded" href="/hostLobby" id="createLobbyBtn">Créer</a>
   </div>
</div>

<div class="container rounded light">
   <div class="title">Parties Publics</div>
   <div id="lobbysGallery" class="scrollable rounded gallery">
   </div>
</div>

<img alt="background blob image" src="../assets/gamesBlob1.png" class="blob right-bottom">
<img alt="background blob image" src="../assets/gamesBlob2.png" class="blob left-top">
