<div class="title">Select</div>
<div class="container  light rounded">
   <div class="title">Join Lobby</div>
   <div class="row">
      <input class="rounded" id="lobbyIdInput" placeholder="Lobby ID" type="text">
      <a id="joinLobbyBtn" class="btn good rounded">Check</a>
   </div>
</div>


<div class="container  light rounded">
   <div class="row">
      <div class="title">Create Lobby</div>
      <a class="btn good rounded" href="/hostLobby" id="createLobbyBtn">Create</a>
   </div>
</div>

<img src="../assets/gamesBlob1.png" class="blob right-bottom">
<img src="../assets/gamesBlob2.png" class="blob left-top">
