<div class="title">Jouer</div>
<div class="container  light rounded">
   <div class="title">Rejoindre une partie</div>
   <div class="row">
      <input class="rounded" id="lobbyIdInput" maxlength="4" placeholder="ID de la partie" type="text">
      <a id="joinLobbyBtn" class="btn good rounded"><i class="fa-solid fa-right-to-bracket"></i></a>
   </div>
</div>



<div><a class="tag good rounded" href="/chooseGameMode" id="createLobbyBtn">Créer une partie</a></div>
<div class="container rounded light">
   <div class="title">Parties Publiques</div>
   <div id="lobbysGallery" class="scrollable rounded gallery">
   </div>
</div>

<img alt="background blob image" src="../assets/gamesBlob1.png" class="blob right-bottom">
<img alt="background blob image" src="../assets/gamesBlob2.png" class="blob left-top">
