<div class="row">
   <div class=" row">
      ID :  <span id="lobbyId"></span>
   </div>
   <div class="btn good" id="copyToClipboardBtn">Copier</div>
</div>

<div class="container dark rounded">
   <div class="title" id="lobbyName"></div>
   <div class="container electricBlue rounded">
      Host : <span id="lobbyHostName"></span>
   </div>
   <div class="container electricBlue rounded">
      <div class="title">Parametres</div>

      <div class="container light rounded">
         <div class="row">
            <div id="visibilityDisplay">Lobby Publique : </div>
            <label class="switch">
               <input  type="checkbox" name="checkbox">
               <span class="slider round"></span>
            </label>
         </div>
      </div>

      <div class="container light rounded">
         <div id="gameLenDisplay" class="row">Nombre de pays : </div>
         <input class="gameParam" id="gameLenRange" type="range" min="1" max="177" value="20" step="1">
      </div>

      <div class="container light rounded">
         <div id="timeDisplay" class="row">Temps Maximal : </div>
         <input class="gameParam" id="timeRange" type="range" min="10" max="600" value="60" step="10">
      </div>

      <div class="container light rounded">
         <div> Selection de la carte : </div>
         <select id="mapSelect" class="select">
            <option value="monde">Pays Monde</option>
            <option value="us">Etats des Etats Unis</option>
            <option value="fr">Departements de France</option>
        </select>
      </div>
     
   </div>
   <div class="container light rounded">
      <div class="title">Joueurs :</div>
      <div id="playersList" class="gallery">
         <div class="card electricBlue rounded row">
            <img alt="user profile image" class="userImg" src="">
            <p>player Name</p>
            <div class="btn rounded bad">Virer</div>
         </div>
      </div>
   </div>
</div>

<a aria-label="Start the game" href="/country" class="btn good rounded">Commencer</a>

<img alt="background blob image" src="../assets//lobbyBlob1.png" class="blob left-bottom">
<img alt="background blob image" src="../assets//lobbyBlob2.png" class="blob right-top">