<div class="title">Lobby : <span id="lobbyId"></span></div>

<div class="container dark rounded">
   <div class="container electricBlue rounded">
      Host : <span id="lobbyHostName"></span>
   </div>
   <div class="container light rounded">
      <div class="title">Players :</div>
      <div id="playersList" class="gallery">
         <div class="card electricBlue rounded row">
            <img class="userImg" src="">
            <p>player Name</p>
            <div class="btn rounded bad">Kick</div>
         </div>
      </div>
   </div>
</div>