<div class="row">
   <div class=" row">
      ID :  <span id="lobbyId"></span>
   </div>
   <div class="btn good" id="copyToClipboardBtn">Partager</div>
</div>

<div class="container dark rounded">
   <div class="title" id="lobbyName"></div>
   <div class="container light rounded">
      <div class="title">Parametres</div>
      <div class="container electricBlue rounded">
         <div id="mapParam">Carte :</div>
         <div id="timeParam">Temps :</div>
         <div id="lenParam">Nombre de pays :</div>
      </div>
      <div class="title">Joueurs :</div>
      <div id="playersList" class="gallery">
         <div class="card electricBlue rounded row">
            <img alt="user profile img" class="userImg" src="">
            <p>player Name</p>
            <div class="btn rounded bad">Virer</div>
         </div>
      </div>
   </div>
</div>

<a aria-label="Go to the game" id="gameLaunch" href="/classic"></a>