<div class="row">
   <div class=" row">
      ID :  <span id="lobbyId"></span>
   </div>
   <div class="btn good" id="copyToClipboardBtn">Partager</div>
</div>

<div class="container dark rounded">
   <div class="row card" >
      <img id="lobbyImg" src="../assets/speedrun.png" style="width: 50px;" alt="">
      <div class="title dark" style="background:unset;" id="lobbyName"></div>   
   </div>
   <div class="container light rounded">
      <div class="title">Parametres</div>
      <div class="container electricBlue rounded">
         <div id="mapParam">Carte :</div>
         <div id="timeParam">Temps :</div>
         <div id="lenParam">Nombre de pays :</div>
      </div>
      <div class="title">Choisi ton equipe</div>
      <div class="container electricBlue rounded">
         <div>
            <input type="checkbox" name="voeu" id="voeu" checked>
            Voeu
         </div>
         <div>
            <input type="checkbox" name="serment" id="serment">
            Serment
         </div>
         <div>
            <input type="checkbox" name="pacte" id="pacte">
            Pacte
         </div>
      </div>
      <div class="title">Joueurs :</div>
      <div id="playersList" class="gallery">
         <div class="card electricBlue rounded row">
            <img alt="user profile img" class="userImg" src="">
            <p>player Name</p>
            <div class="btn rounded bad">Virer</div>
         </div>
      </div>
   </div>
</div>

<div id="waiting" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;" class="light">
   <div style="font-size: 20px; padding: 30px;">Le chef du lobby est en train de choisir le mode de jeu !</div>
</div>

<a aria-label="Go to the game" id="gameLaunch" href="/classic"></a>