<div class="row">
   <div class=" row">
      ID :  <span id="lobbyId"></span>
   </div>
   <div class="btn good" id="copyToClipboardBtn">Copy</div>
</div>

<div class="container dark rounded">
   <div class="container light rounded">
      <div class="title">Players :</div>
      <div id="playersList" class="gallery">
         <div class="card electricBlue rounded row">
            <img class="userImg" src="">
            <p>player Name</p>
            <div class="btn rounded bad">Kick</div>
         </div>
      </div>
   </div>
</div>