<div class="title">Paramètres</div>

<div class="container rounded light">
   <form class="container rounded dark fLight">
         Changer de pseudo  (Possible 1 fois)
         <div class="row card">
            <input id="userNameInput" placeholder="username" class="rounded" pattern="[A-Za-z0-9]" maxlength="10" minlength="4" type="text"> 
            <div id="submitNameBtn" class="btn good">
               <i style="font-size: 20px;" class="fa-solid fa-check"></i>
            </div>
         </div>
         <p style="font-size: 15px;">Minuscule, Majuscule, Nombres, 4-10 charactères</p>
   </form>


   <a id="logoutBtn" class="btn bad">Deconnexion</a>
</div>