<div class="title">Social</div>

<div class="container rounded light">
   <div class="title">Add Friend</div>
   <div class="gallery row">
      <input  class="rounded" id="addFriendInput" type="number" minlength="3" maxlength="12">
      <div class="btn good" id="addFriendBtn"><i class="fa-solid fa-plus"></i></div>
   </div>
   <div class="card rounded electricBlue row">Your ID : <span id="userID">EXAMPLE</span></div>
</div>

<div class="container rounded dark">
   <div class="title">Friends</div>
      <div id="friendList" class="gallery">
      </div>
</div>
