<div id="firstLine" class="row centered game gameUi">
   <div  id="display" style="font-size: 25px; max-width: 45vw; font-weight: bolder;" class=" title game"></div>
</div>



<div id="scoreBoard" class="container rounded dark scoreBoard">
   <div class="title">Resultat</div>
   <div id="playerList" class="gallery"></div>
   <a id="replay" class="btn good">
      Rejouer
   </a>
</div>
<div class="game" id="skipButton" style="padding: 10px; background-color:#2d2a32; width:fit-content; border-radius: 10px; position: absolute; bottom :13vh; right: 4vw; z-index: 1000;">
   <i style="font-size: 50px; color: #d9d9d9;" class="fa-solid fa-forward"></i>
</div>
<div id="valid" style="position: absolute;  z-index: 10000;">
   ✅
</div>
<div id="invalid" style="position: absolute;  z-index: 10000;">
   ❌
</div>

<div id="skipped" style="position: absolute; z-index: 10000; font-weight: bolder;">
   PASSE
</div>

<div style="position: absolute; right: 10px; top: 10px; box-shadow: none;" class="tag game">
   Vitesse
   <div class="tag rounded light">
      <div id="rocket" style="z-index: 10; position: absolute; top: 13%; background-color: #2d2a32; border-radius: 100%; padding:5px; transition: top 1s;">🚀</div>
      <div style="
      margin: 7px; height: 300px; width: 20px; background: rgb(255,149,0);
      background: linear-gradient(0deg, rgba(255,149,0,1) 0%, rgba(255,46,0,1) 100%);" 
      class="rounded"></div>
   </div>
</div>


<a id="joinLobbyBtn" style="display: none;"></a>
